{% extends 'extras/navegacion.html' %}

{% load static %}


{% block pag %}

<title> Home </title>
<h1>¡Bienvenidos a IMCU CARBÓN PLAY¡</h1>

<img src="{% static 'iniciar.png' %}" alt="" width="50">

<p>"En el deporte y en la vida, la verdadera victoria no está en nunca caer, sino en levantarse cada vez que caes. La disciplina de hoy construye el éxito de mañana. Recuerda: los límites solo existen en tu mente, superarlos es cuestión de actitud y perseverancia. ¡Sigue adelante, tu mejor versión te está esperando".</p>

{% endblock %}